/*
We declare all variables here as default so that they are easy to override...
*/
$primary: #07215e;
$primary-lighter: #2196f3;
/* Border, shadows, ... */
$cm-box-shadow-dark-md: none !default;
$cm-box-shadow-light-sm: none !default;
$cm-box-shadow-dark-sm: none !default;

$cm-border-radius: 3px !default;
$cm-border-dark: none !default;

/* Colors */
$cm-font-color-dark: #525556 !default;
$cm-tab-color: $primary !default;
$cm-tab-color-hover: $primary !default;
$cm-font-color-dark-deemphasized: #737373 !default;
$cm-bg-dark: #fff !default;
$cm-gray-medium: #aaa !default;
$cm-gray-light: #eee !default;
$cm-white: #fff !default;

$cm-blue1: $primary !default;
$cm-blue2: scale-color($cm-blue1, $lightness: 20%) !default;
$cm-blue3: scale-color($cm-blue2, $lightness: 20%) !default;
$cm-blue4: scale-color($cm-blue3, $lightness: 20%) !default;

$cm-green1: $primary !default;
$cm-green2: scale-color($cm-green1, $lightness: 20%) !default;
$cm-green3: scale-color($cm-green2, $lightness: 20%) !default;
$cm-green4: scale-color($cm-green3, $lightness: 20%) !default;

$cm-red1: #da2c43 !default;
$cm-red2: scale-color($cm-red1, $lightness: 20%) !default;
$cm-red3: scale-color($cm-red2, $lightness: 20%) !default;
$cm-red4: scale-color($cm-red3, $lightness: 20%) !default;

$cm-yellow1: #f2d600 !default;

$hover-c: #a3a3a3;

$vars: (
    green1: $cm-blue1,
    green2: $cm-blue1,
    green3: $cm-blue1,
    font-color-dark: $cm-font-color-dark,
    blue1: $cm-blue1,
    blue2: $cm-blue1,
    blue3: $cm-blue1
);

/* Spacing */
$cm-space: (
    xs: 4px,
    sm: 8px,
    md: 12px,
    lg: 24px,
    xl: 48px,
    xxl: 96px
) !default;

$cm-whitespace: (
    sm: 30px,
    md: 60px,
    lg: 80px
) !default;

$cookie-notice-right: 125px;

/* Breakpoints */
$cm-desktop: 1024px !default;
$cm-mobile: 384px !default;
$cm-tablet: 768px !default;

@mixin var($property, $varName) {
    #{$property}: map-get($vars, $varName);
    #{$property}: var(--#{$varName}, map-get($vars, $varName));
}
